# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

apuntes
base.ts*
clinica.ts*
func-basicas.js*
func-saludar.js*
funcion_receta.js*
imagenes.js*
imagenes.ts*
receta.ts*
sumar.ts*
sumar.js*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
